@model List<RentedCarsWithCustomerListDto>
@{
    ViewData["Title"] = "RentedCars";
    Layout = "~/Areas/Admin/Views/Shared/_AdminHome.cshtml";
}

<h1>RentedCars</h1>

<div class="container">
    @if (TempData["RentFinished"] != null)
    {
        <p class="text text-success">@TempData["RentFinished"]</p>
    }
    <div class="album bg-light">
        <div class="row">

            <div class="col-md-3">





            </div>

            <div class="col-md-9">
                <div class="row ">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="@item.CarForList.PhotoUrl" alt="Card image cap">
                                <div class="card-body">
                                    <h6>@item.CarForList.Brand-@item.CarForList.Model</h6>
                                    <h6>@item.CustomerName-@item.CustomerSurName</h6>
                                    <h6>@item.GivenDate.ToShortDateString()</h6> <h6>@item.ReturnDate.ToShortDateString()</h6>
                                    <div class="d-flex justify-content-between align-items-center">

                                        <div class="btn-group">
                                            @if (!item.IsFinished)
                                            {
                                                <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Admin" asp-action="CompleteRent" asp-route-id="@item.CarForList.Car_id">Siparisi Tamamla</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary" disabled>Siparis Tamamlanmış</a>
                                            }
                                        </div>
                                        <small class="text-muted">@item.CarForList.Price$</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<RentPager rentpager-Action="RentedCars" rentpager-controller="Admin/Admin" rentpager-CurrentPage="Model[0].CurrentPage" rentpager-PageCount="Model[0].PageCount"></RentPager>